.container{
    width: 80%;
}

.innercontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 40%;
    padding: 1.5rem;
    border: 1px solid lightgrey;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

}

.buttonContainer{
    width: 100%;
    /* margin: 1rem 0 0 0; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.headingContainer{
    width: 100%;
}

.heading{
    font-weight: 300;
    font-size: 2rem;
}